/*

darkred:
#74221a
hsla(5, 63%, 28%, 1.0)
reddish black: HSLa(6,80%,7,16);
reddish gray: HSLa(6,33%,28,11);
*/

body {
	color: hsla(5,63%,95%,1.0);
	color: hsl(5,63%,95%);
 	background-color: #130602;
	background-color: hsla(5, 3%, 5%, 1.0)
}

img {
	max-width: 100%;
}

.section,
.interlude {
	box-sizing: border-box;
	padding: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.section {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.section.row {
	margin-bottom: 0;
}
.interlude {
	background-color: hsla(5, 63%, 18%, 1.0);
}
.center {
	text-align: center;
}

/* background images*/
.interlude {
	height: 66.6667vw; /* to keep aspect ratio of image 2:3; */
}
#intro {
	background-image: url(../images/intro.jpg);
	background-position: right 8rem;
	background-size: 30rem;
	padding-top: 2rem;
}
#intro h1 {
	text-shadow: black 0 0 2rem;
}	
#setlist {
	background-repeat: no-repeat;
	background-image: url(../images/vinylplayer_red.png);
	background-size: 30rem;
	background-position: center right;
	padding-right: 0;
	margin-right: 2rem;
}
#occasion {
	background-image: url(../images/partyzelt.jpg);
	background-position: -30rem bottom;
	padding-bottom: 30rem;
}
#occasion h2 {
	margin-bottom: 0;
}
#interlude-one {
	background-image: url(../images/band.jpg);
}
#interlude-two {
	background-image: url(../images/akustik5.jpg);
}
#interlude-three {
	background-image: url(../images/party6.jpg);
}
#interlude-four {
	background-image: url(../images/party5.jpg);
}
#interlude-five {
	background-image: url(../images/akustik2.jpg);
}
#interlude-six {
	background-image: url(../images/saxofon.jpg);
}
#interlude-seven {
	background-image: url(../images/party7.jpg);
}
#interlude-eight {
	background-image: url(../images/dance.jpg);
}
#interlude-nine {
	background-image: url(../images/band2.jpg);
}
#bandmembers {
}
img.portrait {
	width: 30rem;
}
#requirements {
	background-image: url(../images/equipment_red.png);
	background-size: 30rem;
	background-position: bottom right;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
	padding-right: 0;
	margin-right: 2rem;
}
#contact {
	background-image: url(../images/logo_natlb_400px_red.png);
	background-size: contain;
	background-position: bottom;
	padding-bottom: 30rem;
	margin-bottom: 5rem;
}
#imprint {
}
@media (min-width: 321px) {
	#intro {
		background-position: right 4rem;
	}
}

@media (min-width: 550px) {
	.section,
	.interlude {
		padding-left: 0;
		padding-right: 0;
	}
	#intro {
		background-image: url(../images/intro.jpg);
		background-position: left bottom;
		background-size: cover;
		min-height: 50rem;
		height: 100vh;
		padding-top: 10rem;
	}

	.interlude {
		background-attachment: fixed;
		min-height: 50rem;
	}
	#interlude-dance {
	}
	#setlist {
		background-size: auto;
	}
	#interlude-party1 {
	}
	#occasion {
		padding-bottom: 10rem;
		background-position: bottom;
	}
	#interlude-niko {
	}
	#bandmembers {
	}
	#interlude-johann {
	}
	#requirements {
		background-position: 10rem bottom;
		margin-right: 0rem;
	}
	#interlude-setlist {
	}
	#contact {
		padding-bottom: 10rem;
		margin-bottom: inherit;
		background-size: 400px auto;
		background-position: 5rem 5rem;
	}
	#interlude-party3 {
		background-position: bottom;
	}
	#imprint {
	}
}

/* target iPhone and iPad specifically, they cannot handle fixed backgrounds */
/* see here: http://stephen.io/mediaqueries/ */

/* iPhone 6 Plus */
@media (min-device-width: 414px) 
and (max-device-width: 736px) 
and (orientation: landscape) {
	.interlude {
		background-attachment: scroll;
		min-height: 0;
	}
	#contact {
		background-image: url(../images/logo_natlb_400px_red_trans_80p.png);
		text-shadow: black 0 0 2rem;
	}
}
/* iPhone 5 & 5s */
@media (min-device-width: 320px) 
and (max-device-width: 568px) 
and (orientation: landscape) {
	.interlude {
		background-attachment: scroll;
		min-height: 0;
	}
	#contact {
		background-image: url(../images/logo_natlb_400px_red_trans_80p.png);
		text-shadow: black 0 0 2rem;
	}
}
/* all iPads */
@media (min-device-width: 768px) 
and (max-device-width: 1024px)  {
	.interlude {
		background-attachment: scroll;
		min-height: 0;
	}
	#contact {
		background-image: url(../images/logo_natlb_400px_red_trans_80p.png);
		text-shadow: black 0 0 2rem;
	}
}


/* for very large screens, adjust styles a bit */
@media (min-width: 1920px) {
	/* overwriting skeleton rule */
	html {
		font-size: 100%;
	}

	.section,
	.interlude {
		background-size: 1920px 1280px;
		background-attachment: scroll;
	}

	#intro,
	.interlude {
		height: 1280px;
		min-height: 0;
	}

	#interlude-johann,
	#interlude-party3 {
		min-height: 0;
	}
	#occasion {
		background-size: cover; 
	}
}