/*

darkred:
#74221a
hsla(5, 63%, 28%, 1.0)
reddish black: HSLa(6,80%,7,16);
reddish gray: HSLa(6,33%,28,11);
*/

body {
	color: #f2e4e3;
	color: hsla(5,63%,95%,1.0);
	background-color: #130602;
	background-color: hsla(5, 63%, 5%, 1.0)
}

.section,
.interlude {
	padding: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.section {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.section.row {
	margin-bottom: 0;
}

.interlude {
	background-color: hsla(5, 63%, 18%, 1.0);
}

.center {
	text-align: center;
}

/* background images*/
.interlude {
	min-height: 15rem;
}
#intro {
	background-image: url(../images/intro.jpg);
	background-position: left bottom;
}
#intro h1 {
	text-shadow: black 0 0 2rem;
}
#interlude-dance {
	background-image: url(../images/dance.jpg);
}
#setlist {
}
#interlude-party1 {
	background-image: url(../images/party1.jpg);
}
#occasion {
	background-image: url(../images/partyzelt.jpg);
	background-position: -30rem bottom;
	padding-bottom: 30rem;
}
#interlude-niko {
	background-image: url(../images/niko.jpg);
}
#bandmembers {
}
#interlude-johann {
	background-image: url(../images/johann.jpg);
}
#requirements {
	background-image: url(../images/equipment_red.png);
	background-size: 30rem;
	background-position: bottom right;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
	padding-right: 0;
	margin-right: 2rem;
}
#interlude-setlist {
	background-image: url(../images/setlist.jpg);
}
#contact {
	background-image: url(../images/logo_natlb_400px_red.png);
	background-size: contain;
	background-position: bottom;
	padding-bottom: 30rem;
	margin-bottom: 5rem;
}
#interlude-party3 {
	background-image: url(../images/party3.jpg);
}
#imprint {
}

@media (min-width: 550px) {
	.section,
	.interlude {
		padding-left: 0;
		padding-right: 0;
	}

	.interlude {
		min-height: 50rem;
	}
	#intro h1 {
		text-shadow: black 0 0 2rem;
	}
	#intro {
		min-height: 50rem;
	}
	#interlude-dance {
	}
	#setlist {
	}
	#interlude-party1 {
	}
	#occasion {
		padding-bottom: 10rem;
		background-position: bottom;
	}
	#interlude-niko {
	}
	#bandmembers {
	}
	#interlude-johann {
		min-height: 80rem;
	}
	#requirements {
		background-position: 10rem bottom;
		margin-right: 0rem;
	}
	#interlude-setlist {
	}
	#contact {
		padding-bottom: 10rem;
		margin-bottom: inherit;
		background-size: 400px auto;
		background-position: 5rem 5rem;
	}
	#interlude-party3 {
		min-height: 80rem;
	}
	#imprint {
	}
}